<app-header title="Iniciar Sesión"></app-header>

<ion-content [fullscreen]="true">
  <app-components></app-components>
  <ion-card class="cartaLogin">
    <ion-card-header>
      <ion-card-title>Inicio de Sesión</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="carta">
      <ion-item>
        <ion-input  label="Usuario" labelPlacement="floating" [(ngModel)]="login.usuario" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  label="Correo" labelPlacement="floating" [(ngModel)]="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  label="Contraseña" labelPlacement="floating" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="ingresar()" id="boton" color="black">Ingresar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" routerLink="/register" id="boton" color="black">Registrase</ion-button>
        </ion-col>
        <ion-col size="12">
          <p class="ion-text-center">
          <a routerLink="recovery">¿Te olvidaste de la contraseña?</a>
          </p>
        </ion-col> 
      </ion-row>
    </ion-card-content>    
  </ion-card>
</ion-content>