ion-content {
    --background: #f4f4f4; /* Fondo claro */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
  }
  
  .textoerror {
    margin-bottom: 20px;
  }
  
  #titulo {
    font-size: 3rem;
    color: #ff6b6b; /* Rojo vibrante */
    margin: 0;
    font-weight: bold;
  }
  
  p {
    font-size: 1.2rem;
    color: #333; /* Gris oscuro */
  }
  
  .container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .textoreferente {
    font-size: 1rem;
    color: #666; /* Gris claro */
    margin-bottom: 20px;
    padding: 0 20px;
    max-width: 600px;
    text-align: center;
  }
  
  ion-button {
    --background: #ff6b6b; /* Color del botón */
    --color: white;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 50px;
    max-width: 300px;
    margin: 20px auto;
    display: block;
  }
  
  ion-button:hover {
    --background: #ff4b4b; /* Color más oscuro en hover */
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
  }
  
  lottie-player {
    width: 300px;
    height: 300px;
  }
  
  @media (max-width: 768px) {
    #titulo {
      font-size: 2.5rem;
    }
  
    p {
      font-size: 1rem;
    }
  
    lottie-player {
      width: 250px;
      height: 250px;
    }
  }
  
  
  
  
  
  