.container{
    margin-top: 20px;
    padding: 10px;

}

.buttoncolors{
    margin-left: 5vh;
    margin-right: 5vh;
}

.labelText{
    margin-top: 20px;
}

.label{
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    margin: 0px 20px 0px 20px;

    border-radius: 10px;
}


#label1{
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    margin: 0px 20px 0px 20px;

    border-radius: 10px;
}

.tituloapp{
    text-align: center;
    margin: 0 30px 0 30px;
    font-size: 40px;
}

#bienvenido{
    text-align: center;
    margin: 50px 0px 40px 0px;
}

#detalles1{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin: 20px 20px 20px 20px;
}

#detalles2{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
}