<app-header title="Bienvenido"></app-header>

<ion-content [fullscreen]="true">
  <swiper-container>
    <swiper-slide>
      <ion-row>
        <ion-col>
          <strong><p class="tituloapp">Friends4Life</p></strong>
        </ion-col>
      </ion-row>
      <div class="container">
        <lottie-player slot="end" autoplay loop 
        src="https://lottie.host/cded2c0b-248c-45a6-81a2-e32da88643c5/Bm7RPsAkdg.json">
      </lottie-player>
      </div><br>
      <ion-row>
        <ion-col>
          <ion-label class="label" class="text-focus-in">Descubre tu nuevo mejor amigo y dale un hogar lleno de amor. En Friends4Life, nos dedicamos a conectar animales sin hogar con personas que buscan darles una segunda oportunidad. Navega por nuestra aplicación para conocer a los maravillosos perros y gatos que están esperando ser adoptados. ¡Tu compañero perfecto te está esperando!</ion-label>
        </ion-col>
      </ion-row>
    </swiper-slide>
    <swiper-slide>
      <ion-row>
        <strong><p class="tituloapp">Tu proximo amigo</p></strong>
      </ion-row>
      <div class="container">
        <lottie-player slot="end" autoplay loop 
        src="https://lottie.host/5b673a00-4b02-40c9-a77e-743d3fa8b4ca/mW7A4xNEfp.json">
      </lottie-player>
      </div><br>
      <ion-row>
        <ion-col>
          <ion-label class="label" class="text-focus-in">Cada uno de nuestros animales tiene una historia única y está buscando un hogar especial. Explora sus perfiles para conocer más sobre su personalidad, necesidades y la historia de su vida. Al adoptar, no solo estás ofreciendo un hogar, sino también ganando un amigo leal y cariñoso.</ion-label>
        </ion-col>
      </ion-row>
    </swiper-slide>
    <swiper-slide>
      <ion-row>
        <strong><p class="tituloapp">Únete a nuestra causa</p></strong>
      </ion-row>
      <div class="container">
        <lottie-player slot="end" autoplay loop 
        src="https://lottie.host/89aeb73f-a236-494c-8fc1-08cd32c67dbd/KbJOqtxKgV.json">
      </lottie-player>
      </div><br>
      <ion-row>
        <ion-col>
          <ion-label class="label" class="text-focus-in">En Friends4Life, siempre estamos en busca de personas apasionadas que quieran hacer una diferencia. Ya sea como voluntario ayudando en los eventos de adopción o con donaciones para apoyar nuestra misión, tu contribución es invaluable. Juntos, podemos cambiar vidas, una adopción a la vez</ion-label>
        </ion-col>
      </ion-row>
    </swiper-slide>
  </swiper-container>
  <app-footer></app-footer>
</ion-content>
