<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-tittle>Dato curioso</ion-tittle>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="arrow-back-outline" color="black"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <h2> Dato curioso </h2>
    <ion-card>
      <ion-card-content>
        <ul>
          <div *ngFor="let item of data | keyvalue"> 
            {{ item.key }}: {{ item.value }}
          </div>
        </ul>
      </ion-card-content>
    </ion-card>
    
</div>
</ion-content>
